/*content CSS*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@900&family=Roboto+Condensed:wght@700&display=swap");
body {
  background-color: #f5f5ff;
}

.background {
  background-image: url("../../images/latest\ image.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  height: 100vh;
  padding-top: 5%;
  padding-left: 7%;
  font-size: 20px;
  color: #fff;
}

.scroll-buttons {
  padding: 10px 4px;
  background-color: #fff;
  display: flex;
  width: 90px;
  border-bottom: 0.5px solid #e5e5e5;
}
.button-one {
  padding: 10px;
}
.button-two {
  padding: 10px;
}

.button-one:hover {
  background-color: #84a98c;
}
.button-two:hover {
  background-color: #84a98c;
}
.button-one a:hover {
  font-size: 30px;
}
.button-two a:hover {
  font-size: 30px;
}

.property-info {
  padding: 10px 20px;
  margin-bottom: 40px;
  width: 40%;
  color: black;
  background-color: #fff;
}

.information-house {
  display: flex;
  justify-content: space-between;
  margin-top: 35px;
}

.sale-btn {
  margin-top: 35px;
  margin-bottom: 20px;
  padding: 10px 45px;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
}

.sale-btn:hover {
  background-color: #84a98c;
  font-size: 20px;
}

.prop-one {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.icon-one {
  font-size: 45px;
  padding-right: 8px;
}

.prop-two {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.icon-two {
  font-size: 45px;
  padding-right: 8px;
}

.prop-three {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.icon-three {
  font-size: 45px;
  padding-right: 8px;
}

.icon-location {
  padding-right: 5px;
}

.main-location {
  text-decoration: none;
  color: #343a40;
}

/*the search bar  css*/
.sale-rent-choice {
  display: flex;
}
.main-parent {
  text-align: center;
  width: 95%;
  height: 45vh;
  color: black;
  background-color: white;
  /* box-shadow: -2px -2px 5px #edede9; */
  padding-top: 40px;
}

.sub-main-parent {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 40px;
}

.second-sub-main-parent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 65px;
}

.rent {
  padding: 10px 8px;
  background-color: #84a98c;
  color: black;
  border: 1px solid black;
  margin-right: 3px;
}

.rent:active {
  background-color: white;
}

.sale:active {
  background-color: white;
}

.sale a,
.rent a {
  text-decoration: none;
  color: black;
}

.sale {
  padding: 10px 8px;
  background-color: #84a98c;
  color: black;
  border: 1px solid black;
}

.selection-location {
  padding: 20px 80px;
  border: 0px;
  background-color: #edede9;
}

.selection-location option {
  font-size: 15px;
}

.selection-location:active {
  border: 0px #edede9;
}

.selection-property {
  padding: 20px 80px;
  border: 0px;
  background-color: #edede9;
}

.selection-property option {
  font-size: 15px;
}

.selection-status {
  padding: 20px 80px;
  border: 0px;
  background-color: #edede9;
}

.selection-status option {
  font-size: 15px;
}

.selection-Material {
  padding: 20px 80px;
  border: 0px;
  background-color: #edede9;
}

.selection-Material option {
  font-size: 15px;
}

.search-btn {
  padding: 15px 80px;
  margin-top: 19px;
  cursor: pointer;
  background-color: #84a98c;
  font-family: "Inter", sans-serif;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 20px;
  border: none;
}

.search-btn:active {
  border: 1px solid black;
}

.price-from-label {
  margin-right: 50px;
  text-align: start;
}
.price-from-input {
  padding: 20px 50px;
  border: 0px;
  background-color: #edede9;
}

.price-to-input {
  padding: 20px 50px;
  border: 0px;
  background-color: #edede9;
}

.selection-rooms {
  padding: 20px 80px;
  border: 0px;
  background-color: #edede9;
}

.price-from-container {
  display: flex;
  flex-direction: column;
}
.price-to-label {
  text-align: start;
}
.price-to-container {
  display: flex;
  flex-direction: column;
}

.label-room {
  text-align: start;
}

.room-container {
  display: flex;
  flex-direction: column;
}

.location-container {
  display: flex;
  flex-direction: column;
}

.label-location {
  text-align: start;
}

.property-container {
  display: flex;
  flex-direction: column;
}

.label-property {
  text-align: start;
}

.status-container {
  display: flex;
  flex-direction: column;
}

.material-container {
  display: flex;
  flex-direction: column;
}

.label-material {
  text-align: start;
}

/*About-website-content*/

.About-website-content {
  width: auto;
  height: 40vh;
}

.about-website-child {
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.about-website-header {
  color: black;
  text-align: center;
  font-family: abril fatface;
  padding-top: 30px;
}

.about-website-icon {
  background-color: #fff;
  border-radius: 90px;
  width: 130px;
}

.icon-website-about {
  font-size: 60px;
  color: #84a98c;
  padding: 20px 20px;
  margin-left: 15px;
  margin-top: 7px;
  background-color: #f5f5f5;
  border-radius: 50px;
}
