/*content CSS*/

.background {
  background-image: url("../../images/latest\ image.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  height: 80vh;
  padding-top: 13%;
  padding-left: 250px;
  font-size: 20px;
  color: #fff;
}

.scroll-buttons {
  padding: 10px 10px;
  background-color: #fff;
  display: flex;
  width: 90px;
  border-bottom: 0.5px solid #e5e5e5;
}
.button-one {
  padding: 10px;
}
.button-two {
  padding: 10px;
}

.button-one:hover {
  background-color: #84a98c;
}
.button-two:hover {
  background-color: #84a98c;
}
.button-one a:hover {
  font-size: 30px;
}
.button-two a:hover {
  font-size: 30px;
}

.property-info {
  padding: 10px 20px;
  width: 30%;
  color: black;
  background-color: #fff;
}

.information-house {
  display: flex;
  justify-content: space-between;
  margin-top: 35px;
}

.sale-btn {
  margin-top: 35px;
  margin-bottom: 20px;
  padding: 10px 45px;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
}

.sale-btn:hover {
  background-color: #84a98c;
  font-size: 20px;
}

.prop-one {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.icon-one {
  font-size: 45px;
  padding-right: 8px;
}

.prop-two {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.icon-two {
  font-size: 45px;
  padding-right: 8px;
}

.prop-three {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.icon-three {
  font-size: 45px;
  padding-right: 8px;
}

.icon-location {
  padding-right: 5px;
}

.main-location {
  text-decoration: none;
  color: #343a40;
}
