
.background {
    background-image: url("https://img.staticmb.com/mbcontent//images/uploads/2022/12/Most-Beautiful-House-in-the-World.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    height: 80vh;
    padding-top: 13%;
    padding-left: 250px;
    font-size: 20px;
    color: #fff;
}

.scroll-buttons {
    padding: 10px 10px;
    background-color: #fff;
    display: inline-block;
}

.scroll-buttons:hover {
    /* background-color: #d82460; */
}

.property-info {
    padding: 10px 20px;
    width: 30%;
    color: black;
    background-color: #fff;
}

.information-house {
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
}

.sale-btn {
    margin-top: 35px;
    margin-bottom: 20px;
    padding: 7px 45px;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
}
