* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.login-container {
  width: 90%;
  height: 75vh;
  margin-left: 71px;
}

.login-sub-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 10%;
}

.form-container-parent {
  padding-left: 30px;
  padding-top: 20px;
  width: 35%;
  height: 65vh;
  box-shadow: 0px 9px 60px #84a98c;
}
.form-header-title {
  font-size: 40px;
  font-weight: bolder;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.data-fill-section {
  margin-top: 30px;
}

.form-paragraph {
  margin-top: 5px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.label-email {
  font-size: 17px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.input-email {
  border-radius: 8px;
  padding: 10px 10px;
  width: 80%;
  margin-top: 5px;
}

.label-password {
  font-size: 17px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.input-password {
  border-radius: 8px;
  padding: 10px 10px;
  width: 80%;
  margin-top: 5px;
}

.forgot-password-style {
  font-size: medium;
  padding-left: 40%;
}

.remember-section {
  margin-top: 8px;
}

.remember-style-class {
  padding-left: 4px;
  cursor: pointer;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.remember-style-input {
  cursor: pointer;
}

.login-button {
  cursor: pointer;
  margin-top: 14px;
  margin-left: 25.5px;
  padding: 8px 35%;
  border-radius: 10px;
  background-color: #84a98c;
  color: black;
  font-size: 17px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.login-button:hover {
  background-color: #84a98c;
}

.login-button:active {
  background-color: #fff;
}

.form-header-title {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.form-paragraph {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.companies-address {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 35px;
  margin-top: 20px;
}

.google {
  display: flex;
  padding: 7px 25px;
  margin-right: 15px;
  border-radius: 12px;
  cursor: pointer;
}

.google:hover {
  font-size: 15px;
  box-shadow: 0px 0px 18px #84a98c;
}

.google-icon {
  font-size: 20px;
}

.google-paragraph {
  padding-top: 5px;
  padding-left: 8px;
}

.facebook-icon {
  font-size: 20px;
  color: blue;
}
